<% if @subscriber.errors.size > 0 %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% @subscriber.errors.each_with_index do |message| %>
        <li><%= message[1] %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @subscriber, url: create_subscriber_path do |f| %>
  <div class="form-group">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :email, "E-mail" %>
    <%= f.email_field :email, class: "form-control"%>
  </div>
  <%= f.submit "Inscrever", class: "btn btn-primary" %>
<% end %>
